/* Mobile styles */
/* nav styles */
.hero{
    width: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    flex-direction: column;
}
.logo {
    color: white;
    font-size: 2rem;
}
span{
    color: wheat;
}
nav ul{
    padding-left: 0;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-size: 1rem;
}
nav ul li a:hover{
    color: wheat;
    transition: .3s;
}
/* nav styles end */

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: normal;
}
.text-2 {
    font-weight: lighter;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
}
.button-planet-1{
background-color: wheat;
  border: none;
  color: black;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 20%;
}
.button-planet-2{
    background-color: wheat;
    border: none;
    color: black;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 20%;
  }
  .button-planet-3{
    background-color: wheat;
    border: none;
    color: black;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 20%;
  }
.planet-head-1, .planet-head-2, .planet-head-3 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    padding-top: 1rem;
}
.planet-head-1 {
    color: wheat;
}
.planet-head-2 {
    color: wheat;
}
.planet-head-3 {
    color: wheat;
}
.main-container {
    background-color: #231A36;
    margin: 1rem;
}
.icons{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.icons-1{
    font-size: 5rem;
    color: white;
    padding: 1rem;
}
.landing-h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}
.text-2 {
    text-align: center;
    padding: 1rem;
}

/* planet descriptions flex */
.planet-descriptions {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
}

/* review container flex */

.review-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    background-size: 100% 100%;
}

.icons-2{
    font-size: 5rem;
    color: black;
    padding: 1rem;
}
.review-head{
    text-align: center;
}
.reviews{
    text-align: center;
}
/* customer testimonial styles */
.custy-head {
    text-align: center;
    padding: 1rem;
}
.customers{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align:  center;
}
.maul, .obi, .mando{
    padding: 1rem;
    border-radius: 50%;
}

@media only screen and (min-width: 850px) {
    
    nav{
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 2rem;
    }
    nav ul li a{
        font-size: 2rem;
        text-align: center;
    }
    .landing-h1{
        font-size: 5rem;
    }
    .landing-container{
        padding: 1rem;
        padding-top: 0%;
    }
    .container-1{
        display: flex;
        padding: 1rem;
        justify-content: flex-end;
        
    }
    .text-1{
        display: flex;
        align-items: center;
    }
    .icons-1 {
        padding: 2rem;
    }
    .planet-descriptions{
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
        align-items: flex-end;
    }
    .jakku-des, .hoth-des, .naboo-des{
        padding: 1rem;
    }
    .customers{
        display: flex;
        flex-direction: row;
    }
    .customer-1, .customer-2, .customer-3{
        padding: 1rem;
    }
    .maul, .obi, .mando{
        width: 200px;
        height: auto;
        border-radius: 50%;
    }
    .reviews{
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
    }
    .review-1, .review-2, .review-3{
        padding-right: 1rem;
        padding-left: 1rem;
        
    }
  }

  /* TRAVEL PAGE STYLES MOBILE */

  .pl-head, .pl-p{
      color: white;
  }
  .pl-img {
      width: 500px;
      height: auto;
      border-radius: 50%;
  }
















